<html>
  <head>
    <title>Shop</title>
  </head>
  <center>
  <body>
    <h1><font size="20">SHOP</font></h1>
    <a href="/">Home</a> |
    <a href="/basket">Basket</a>
    <%= yield %>
  </center>
  </body>
</html>
